#message-count-dot {
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

#message-count {
    text-align: center;
}

#message-svg {
    height: 70px;
    width: 70px;
}

#message-notif {
    float: right;
    cursor: pointer;
}

#click-box {
    height: 60px;
    width: 60px;
    position:absolute;
    top: 50px;
    right: 15px;
    cursor: pointer;
}
